<div class="govuk-grid-column-one-quarter">
  <nav class="app-subnav">

    <ul class="app-subnav__section">
      <li class="app-subnav__section-item app-subnav__section-item--current">
        <a class="app-subnav__link govuk-link" href="/api-products">All API products</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="/apis/chs-kafka-api">CHS Kafka API</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="/apis/ch-api">Companies House API</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="/apis/mc-data">Manipulate company data</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="/apis/payment-api">Payment API</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="/apis/streaming-api">Streaming API</a>
      </li>

    </ul>

  </nav>
</div>