// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-width-container {
  max-width: 1100px;
}

.app-subnav {
  padding: 0 15px 0 0;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
}

@media print {
  .app-subnav {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-subnav {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav {
    margin-left: -15px;
  }
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__link {
  display: block;
  padding: 8px 30px 8px 10px;
  border-left: 4px solid transparent;
  text-decoration: none;
}

.app-subnav__link:focus {
  background: inherit;
}

.app-subnav__link:active,
.app-subnav__link:hover,
.app-subnav__link:visited {
  color: #005ea5;
}

.app-subnav__link:hover {
  border-left-color: #2b8cc4;
}

.app-subnav__section-item--current .app-subnav__link {
  border-left-color: #005ea5;
  background: #f8f8f8;
  font-weight: bold;
}

.app-subnav__section--nested {
  margin-bottom: 0;
}

.app-subnav__section--nested .app-subnav__link {
  padding-left: 20px;
  font-weight: 400;
}

.app-subnav__theme {
  margin: 0;
  padding: 10px 15px;
  color: #6f777b;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .app-subnav__theme {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-subnav__theme {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-subnav__theme {
    font-size: 14pt;
    line-height: 1.15;
  }
}

//Styles for the code blocks

pre {
  max-width: 38em;
  margin: 0;
  padding: 20px;
  overflow: auto;
  border: 1px solid #bfc1c3;
  background-color: #f8f8f8;
  font-size: 16px;
  margin-bottom: 15px;
}

pre code {
  display: block;
  color: #007f80;
  padding-top: 43px;
  line-height: 1.5;
  font-family: monospace, monospace;
  font-size: 1.2em;
  overflow-x: auto;
}

.app-header__title {
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-header__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-header__title {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-header__title {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-code-block {
  position: relative;
}

.app-copy-button {
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  min-width: 110px;
  padding: 4px 10px 2px;
  border: 1px solid #00823b;
  color: #00823b;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 0 0 #006435;
  box-shadow: 0 2px 0 0 #006435;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media print {
  .app-copy-button {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-copy-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .app-copy-button {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.app-copy-button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

.app-copy-button:active {
  margin-top: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 40.0625em) {
  .app-pane__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f8f8f8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (max-width: 40.0525em) {
  .app-navigation {
    display: none;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    margin-left: -15px;
  }
}

.app-navigation__list {
  padding: 0;
  list-style: none;
}

.app-navigation__list > li {
  box-sizing: border-box;
  height: 53px;
  float: left;
  line-height: 53px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.app-navigation__list > li:hover {
  border-bottom: 4px solid #2b8cc4;
}

.app-navigation__list > li.app-navigation--current-page {
  border-bottom: 4px solid #005ea5 !important;
}

.app-navigation__list > li.app-navigation--current-page a:hover {
  color: #005ea5;
}

.app-navigation__list > li a {
  font-weight: 700;
  display: block;
  padding: 0 15px;
  color: #005ea5;
  text-decoration: none;
}

.app-navigation__list > li a:visited {
  color: #005ea5;
}

.app-navigation__list > li a:focus,
.app-navigation__list > li a:hover {
  color: #2b8cc4;
  background-color: inherit;
}

.app-mobile-nav {
  display: none;
}

.app-mobile-nav--active {
  display: block;
}

@media (min-width: 40.0625em) {
  .app-mobile-nav--active {
    display: none;
  }
}

@media (max-width: 40.0525em) {
  .no-js .app-mobile-nav {
    display: block;
  }
}

.app-mobile-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f8f8;
}

.app-mobile-nav__list > li {
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  font-size: 1.1875rem;
}

@media print {
  .app-mobile-nav__list > li {
    font-family: sans-serif;
  }
}

.app-mobile-nav__list > li > a {
  font-weight: 700;
  display: block;
  padding: 16px 20px 17px;
  text-decoration: none;
}

.app-mobile-nav__list > li > a:focus,
.app-mobile-nav__list > li > a:hover,
.app-mobile-nav__list > li > a:visited {
  color: #005ea5;
  background-color: inherit;
}

.app-mobile-nav__subnav {
  display: none;
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  border-top: 1px solid #dee0e2;
  border-bottom: 1px solid #dee0e2;
  background-color: #fff;
}

.app-mobile-nav__subnav > li > a {
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

@media print {
  .app-mobile-nav__subnav > li > a {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-mobile-nav__subnav > li > a {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-mobile-nav__subnav > li > a {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-mobile-nav__subnav > li.current-page a {
  border-left: 4px solid #005ea5;
}

.js-enabled .app-mobile-nav__subnav--active {
  display: block;
}

.app-mobile-nav__current-page {
  border-left: 4px solid #005ea5;
}

.app-mobile-nav__theme {
  margin: 0;
  padding: 20px 20px 5px;
  color: #6f777b;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
}

.app-mobile-nav__theme-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

.app-mobile-nav__theme-nav > li {
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-mobile-nav__theme-nav > li {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-mobile-nav__theme-nav > li {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.app-mobile-nav__theme-nav > li > a {
  display: block;
  padding: 15px 20px 10px;
  text-decoration: none;
}

.app-mobile-nav__theme-nav > li.current-page a {
  padding-left: 16px;
  border-left: 4px solid #005ea5;
}

.app-mobile-nav__theme-nav > li:last-child a {
  padding-bottom: 25px;
}

.js-enabled .app-mobile-nav__subnav-toggler--active {
  border-top: 1px solid #fff;
}

.app-navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'nta',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  width: 100%;
}

@media print {
  .app-navigation {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (max-width: 40.0525em) {
  .app-navigation {
    display: none;
  }
}

@media (min-width: 40.0625em) {
  .app-navigation {
    margin-left: -15px;
  }
}

.app-navigation__list {
  padding: 0;
  list-style: none;
}

.app-navigation__list > li {
  box-sizing: border-box;
  height: 53px;
  float: left;
  line-height: 53px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.app-navigation__list > li:hover {
  border-bottom: 4px solid #2b8cc4;
}

.app-navigation__list > li.app-navigation--current-page {
  border-bottom: 4px solid #005ea5 !important;
}

.app-navigation__list > li.app-navigation--current-page a:hover {
  color: #005ea5;
}

.app-navigation__list > li a {
  font-weight: 700;
  display: block;
  padding: 0 15px;
  color: #005ea5;
  text-decoration: none;
}

.app-navigation__list > li a:visited {
  color: #005ea5;
}

.app-navigation__list > li a:focus,
.app-navigation__list > li a:hover {
  color: #2b8cc4;
  background-color: inherit;
}

.govuk-phase-banner {
  border-bottom: 0;
}

.govuk-header {
  border-bottom: 10px solid rgb(0, 94, 165);
}

.govuk-header__container {
  border-bottom: 0;
  padding-bottom: 7px;
}
